/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Basic styling for main content */
main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #f2f2f2;
}

.hero h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.products {
    padding: 50px 0;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-card img {
    width: 450px;
    height: 250px;
    border-radius: 5px;
}
.product-card p{
    margin-left: 500px;
    margin-top: -240px;
    font-size: 22px;
}
h3{
    margin-left: 10px;
    margin-top: 19px;
    font-size: 25px;
}
/* Basic styling for footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
